{% extends 'layout/mail.html.twig' %}

{% do email.setSubject("mail.project.newMemberApplication.subject"|trans) %}
{% block mail_subject %}{{ email.subject }}{% endblock %}

{% block mail_body %}
    <h1>{{ "mail.coordinator.salutation"|trans }}</h1>

    {{ "mail.project.newMemberApplication.content"|trans({
        '%username%': username,
        '%projectTitle%': projectTitle ?: "project.unnamed"|trans({'%projectid%': projectId}),
    })|raw }}
{% endblock %}